body {
  padding-top: 15px;
  padding-bottom: 15px;
}

.shipment-description dt:last-of-type,
.shipment-description dd:last-of-type {
  margin-bottom: 0;
}

.container *:last-child {
  margin-bottom: 0;
}

.modal-content form .form-group:last-of-type {
  margin-bottom: 0;
}
